{% extends 'base.html' %}

{% block title %}Login - Coffee and Code{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 p-0">
            <div class="img-wrapper">
                <div class="img-container">
                    <img src="static/images/cafe.png" alt="Background image" class="bg-image" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 p-0 overflow-auto" style="max-height: 100vh; background-color: lightgray; z-index: 1; position: sticky; top: 0;">
            <div class="p-3">
                <!-- Add the login form here -->
                <h2>Login</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
